<h1 style="margin: 25px">Welcome to the DB Suites Database!</h1>

<div>

    <br>

    <h2>Tables</h2>
    <dl id="tableList">
      <dt><a href="http://flip3.engr.oregonstate.edu:7592/guests">Guests</a></dt>
        <dd>View Guests</dd>
        <dd>Add/Remove Guests</dd>
        <br>
      <dt><a href="http://flip3.engr.oregonstate.edu:7592/rooms">Rooms</a></dt>
        <dd>View Rooms</dd>
        <dd>Assign Reservation</dd>
        <dd>Search Rooms</dd>
        <br>
      <dt><a href="http://flip3.engr.oregonstate.edu:7592/reservations">Reservations</a></dt>
        <dd>View Reservations</dd>
        <dd>Add/Remove Reservation</dd>
        <dd>Assign Guest</dd>
        <dd>Search Reservations</dd>
        <br>
      <dt><a href="http://flip3.engr.oregonstate.edu:7592/payment-methods">Payment Methods</a></dt>
        <dd>View Payment Methods</dd>
        <dd>Add/Remove Payment Methods</dd>
        <dd>Assign Payment to a Reservation</dd>
        <br>
      <dt><a href="http://flip3.engr.oregonstate.edu:7592/services">Services</a></dt>
        <dd>View Services</dd>
        <dd>Assign a Service to a Guest</dd>
        <br>
    </dl>

</div>
